<!-- <div class="kanban-board">
  <mat-toolbar color="primary">Kanban Board</mat-toolbar>
  <div class="kanban-columns" cdkDropList [cdkDropListData]="data" (cdkDropListDropped)="onDrop($event)">
    <div class="kanban-column" *ngFor="let column of data" cdkDrag [cdkDragData]="column">
      <h2>{{ column.category_title }}</h2>
      <div class="kanban-cards" cdkDropList [cdkDropListData]="column.tasks"
        (cdkDropListDropped)="onCardDrop($event, column)">
        <div class="kanban-card" *ngFor="let card of column.tasks" cdkDrag [cdkDragData]="card">
          {{ card.item_title }}
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="kanban-board">
  <div class="kanban-columns" cdkDropListGroup>
    <div cdkDropList *ngFor="let category of data" class="kanban-column" [cdkDropListData]="category">
      <h2>{{ category.category_title }}</h2>
      <div class="kanban-cards" cdkDropList [cdkDropListData]="category.tasks"
        (cdkDropListDropped)="onCardDrop($event, category)">
        <div class="kanban-card" *ngFor="let card of category.tasks" cdkDrag [cdkDragData]="card">
          {{ card.item_title }}
        </div>
      </div>
    </div>
    <!-- Create category form -->
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmitCategory()" class="category-form">
      <ng-template #formContent [ngIf]="creatingCategory" [ngIfElse]="buttonContent">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Category Title" formControlName="category_title">
          <mat-error *ngIf="categoryForm.get('category_title').hasError('required')">
            Category Title is required
          </mat-error>
        </mat-form-field>
        <div class="actions">
          <button mat-raised-button color="primary" type="submit">Add Category</button>
          <button mat-mini-fab (click)="onCancelCategory()"><mat-icon>clear</mat-icon></button>
        </div>
      </ng-template>
      <ng-template #buttonContent>
        <button mat-raised-button color="primary" (click)="creatingCategory = true">New Category</button>
      </ng-template>
    </form>
  </div>
</div>
