.kanban-board {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.kanban-columns {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 16px;
}

.kanban-column {
  width: 300px;
  padding: 16px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-right: 16px;
  flex: 0 0 auto;
  position: relative;
}

.kanban-cards {
  min-height: 200px;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  max-height: calc(100vh - 120px);
}

.category-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: min-content;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 4px;

  .actions {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
  }
}

app-dot-menu {
  position: absolute;
  top: 5px;
  right: 3px;
  z-index: 1;
}

.kanban-column {
  .actions {
    display: flex;
    justify-content: flex-end;

    .add_task-btn {
      background-color: transparent;
      color: #16163f;
      transform: translateY(6px);
      margin-left: auto;
      padding: 0;
      width: 40px;
      height: 40px;
      font-size: 1.5rem;
    }
  }
}
