<div class="container">
  <div class="login-wrapper">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title class="login-title">Register</mat-card-title>
      </mat-card-header>
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <app-input [form]="form" label="Username" field="username"></app-input>
          <app-input [form]="form" label="First Name" field="first_name"></app-input>
          <app-input [form]="form" label="Last Name" field="last_name"></app-input>
          <app-input [form]="form" label="Email" field="email"></app-input>
          <app-input [form]="form" label="Password" field="password"></app-input>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Log in</button>
      </form>
    </mat-card>
    <!-- If Does have an account -->
    <div class="second-login-wrapper">
      <p>Already have an account? <a routerLink="/login">Register</a></p>
    </div>
  </div>
</div>
