.container {
  padding-left: 0;
}

.container button {
  margin-left: 5px;
}

.list {
  padding: 10px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: #fafafa;
  border-radius: 4px;
  overflow: hidden;
  min-height: 100px;
  position: relative;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-item {
  margin: 5px;
  position: relative;
}

.list-item:last-child {
  border: none;
}

.category-header {
  margin-bottom: 1rem;

  h3 {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0;
  }
}

app-dot-menu {
  position: absolute;
  top: 3px;
  right: 2px;
  z-index: 1;
}

mat-card-header {
  margin-bottom: 6px;
  mat-card-title {
    font-size: 1.05rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

mat-card-subtitle {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  margin-top: 5px;
  text-align: right;
  padding-inline: 10px;
}
