.table-wrapper {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
}

.table {
  width: 100%;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
}

.card {
  padding-bottom: 0;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
