<app-navbar></app-navbar>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Profile</h1>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h4>Profile</h4>
            </div>
            <div class="card-body">
              <img src="https://via.placeholder.com/150" alt="Profile Image" class="img-fluid">
              <hr>
              <p class="lead">Name: {{user.name}}</p>
              <p class="lead">Email: {{user.email}}</p>
              <p class="lead">Username: {{user.username}}</p>
              <p class="lead">Member Since: {{user.createdAt | date:'mediumDate'}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h4>Posts</h4>
            </div>
            <div class="card-body">
              <div *ngFor="let post of posts">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5>{{post.title}}</h5>
                  </div>
                  <div class="card-body">
                    <p class="lead">{{post.body}}</p>
                    <hr>
                    <p class="lead">Posted By: {{post.username}}</p>
                    <p class="lead">Posted On: {{post.createdAt | date:'mediumDate'}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
