<bs-modal id="task-action-modal">
  <div class="modal-header">
    <h4 class="modal-title">{{header}}</h4>
    <button type="button" class="btn-close" (click)="modalService.close()"></button>
  </div>
  <div class="modal-body">
    <form class="task-form" [formGroup]="form" (ngSubmit)="submit()" *ngIf="mode !== 'view'">
      <app-input [form]="form" label="Title" placeholder="Task" field="item_title"></app-input>
      <mat-form-field>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="10" placeholder="Description" formControlName="item_description"></textarea>
      </mat-form-field>
      <app-dropdown [form]="form" label="Category" field="category_id" [data]="categories"
        [fields]="dropdownFields"></app-dropdown>
    </form>

    <div class="row" *ngIf="mode === 'view'">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [value]="task.item_title" [readonly]="true">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="10" [value]="task.item_description" [readonly]="true">
          </textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Category</mat-label>
        <input matInput [value]="category_title" [readonly]="true">
      </mat-form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button mat-raised-button type="submit" (click)="submit()" color="primary" *ngIf="mode !== 'view'">Save</button>
    <button mat-raised-button (click)="modalService.close()">{{mode === 'view' ? 'Close' : 'Cancel'}}</button>
  </div>
</bs-modal>
